
body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    background: #202731;
    overflow-x: hidden;
    z-index: -2;
    font-size: 2rem;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;

}

.blue {
    background: blue;
}

.red {
    background: #dd3f31;
}

.orange {
    background: orange;
}

.pink {
    background: #FF0066;
}

.dark {
    background: #0f0f10;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: hsl(216, 21%, 16%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: blue;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #0f0f10;
    height: 85%;
}


.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavesvg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 346px;
}

.wave.shape-fill {
    fill: #1D1D1D;
}

.spacer {
    aspect-ratio: 900/300;
    width: 100%;
    background-image: no-repeat;
    background-position: center;
    background-size: cover;

}

.layer1 {
    background-image: url(/layer1.svg);
}

.layer2 {
    background-image: url(/layer2.svg);
}

.flip {
    transform: rotate(180deg);
}

.blob-motion{
    position: absolute;
    transform: translateY(-20%);
}
